* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: var(--cream);
}

html {
  font-size: 62.5%;
}

:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

.main {
  width: 90%;
  max-width: 500px;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  border-radius: 10px;
}

.main__picture {
  width: 100%;
}

.main__img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main__article {
  width: 90%;
  margin: 30px auto;
}

.main__product {
  font-size: 1.2rem;
  letter-spacing: 4px;
  color: var(--dark-grayish-blue);
}

.main__article h1 {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  line-height: 1;
  margin: 15px 0;
  color: var(--very-dark-blue);
}

.main__info {
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--dark-grayish-blue);
}

.main__price {
  width: 210px;
  margin: 25px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  color: var(--dark-cyan);
}

.main__price span {
  font-size: 1.4rem;
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
}

.main__cta {
  width: 100%;
  padding: 15px 0;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid var(--dark-cyan);
  background-color: var(--dark-cyan);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
}

.main__cta:hover {
  background-color: hsl(156, 42%, 18%);
}

.main__cta img {
  margin-right: 8px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .main {
    max-width: 580px;
    height: 437px;
    display: flex;
    flex-direction: row;
  }

  .main__picture {
    height: 100%;
  }

  .main__img {
    width: 291px;
    border-top-right-radius: 0; 
    border-bottom-left-radius: 10px;
  }

  .main__article {
    margin: 30px;
  }
}